<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mulesoft.lsp4e.languageServer">
      <server
            class="org.mule.alsp.ALSPConnectionProvider"
            id="org.mule.alsp.server"
            label="org.mule.alsp.server">
      </server>
      <contentTypeMapping
            contentType="org.mule.raml"
            id="org.mule.alsp.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.mule.syaml"
            id="org.mule.alsp.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.mule.sjson"
            id="org.mule.alsp.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.core.runtime.text"
               describer="org.mule.alsp.contenttypes.ALSPRamlContentDescriber"
               file-extensions="raml"
               id="org.mule.raml"
               name="RAML File"
               priority="normal">
         </content-type>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.core.runtime.text"
               describer="org.mule.alsp.contenttypes.ALSPSyamlContentDescriber"
               file-extensions="yaml"
               id="org.mule.syaml"
               name="SYAML File"
               priority="normal">
         </content-type>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.core.runtime.text"
               describer="org.mule.alsp.contenttypes.ALSPSjsonContentDescriber"
               file-extensions="json"
               id="org.mule.sjson"
               name="SJSON File"
               priority="normal">
         </content-type>
   </extension>
   <extension
         name="RAML Editor"
         point="org.eclipse.ui.editors">
         <editorContentTypeBinding
               contentTypeId="org.mule.raml"
               editorId="org.eclipse.ui.genericeditor.GenericEditor">
   		</editorContentTypeBinding>
   </extension>
   <extension
         name="SYAML Editor"
         point="org.eclipse.ui.editors">
         <editorContentTypeBinding
               contentTypeId="org.mule.syaml"
               editorId="org.eclipse.ui.genericeditor.GenericEditor">
   		</editorContentTypeBinding>
   </extension>
   <extension
         name="SJSON Editor"
         point="org.eclipse.ui.editors">
         <editorContentTypeBinding
               contentTypeId="org.mule.sjson"
               editorId="org.eclipse.ui.genericeditor.GenericEditor">
   		</editorContentTypeBinding>
   </extension>
</plugin>
